%h1 Google Local Search Study Q2 2013
%hr
%br
%h2 About the Study
%hr
%p
  The Local Search Study uses a data-driven approach to track trends in Google search results for local searches, particularly searches for local services.
%p
  The goal of the study is to better understand the changes and trends in Google search results, and the relative importance of tactics used to acquire Google traffic.
%br
%h2 Methodology
%hr
%p
  %ul
    %li Analyzed the first page of actual Google search results for 15 different local service categories in 10 of the largest zip codes in the 10 largest US metropolitan statistical areas. All local service categories are served by local businesses and national franchises.
    %li Hotels and restaurants were not included in the study.
    %li Used Google Chrome with local settings to simulate local searches.
%br
%h2 Introduction
%hr
%p
  The most recent Google update - Penguin - had a dramatic impact on local search results, integrating more Local Listings into the organic search results. All of the local services we reviewed had a "7 pack" of Local Listings as either the first search results (43% of the time) or just below 2 or 3 organic Web Results. Here is a typical search results page for "auto repair" in Brooklyn:
%br
%p
  =image_tag "LocalSERPExample.png"
%br
%p
  With the "7 pack" of Local Listings the bar is now extremley low for a local businesses to get Google exposure within its geographic area. While that's good news for many smaller local businesses, it will almost certainly result in lower search traffic for many other businesses that have relied on high ranking websites for head terms. 
%p
  With the recent changes it's also clear that a robust Google+ / Places profile is, for the time being, the low hanging fruit of local search. It's easy, free, and the barrier to entry to ranking is much lower than the barrier to ranking high in the organic web search results.  
%br
%h2 The Study Data
%hr
%br
%p
.page-header
  %h4
    %span
    An average Google search results page for local searches consists of 27 listings.
    %small
      Every search result we analyzed had the same number of Top Ads (3), Side Ads (8), and Local Listings (7). Web Results ranged from 8-10 results per page.
%p
  %img{:src => "https://docs.google.com/spreadsheet/oimg?key=0Av5gzni8Q3LXdHY4M1JEUnRvRWFfbmFYdmd0ZzRwYlE&oid=2&zx=3r4x88dtofuy"}/
.well
  %h4 Types of Search Results
  .row-fluid
    .span3
      %h5
      Top Ads
      %br
      =image_tag "GoogleSideAd.png"
    .span3
      %h5
      Side Ads
      %br
      =image_tag "GoogleTopAd.png"
    .span3
      %h5
      Web Results
      %br
      =image_tag "WebListings.png"
    .span3
      %h5
      Local Listings
      %br
      =image_tag "LocalListings.png"
%br
%p
.page-header
  %h4
    %span
    Web Results are the first organic search result 57% of the time.
    %small
      However, Local Listings are catching up. With continued innovation in Local Listings (e.g., the "Carousel") it seems reasonable to assume that Local Listings will eventually catch up to or pass Web Results.
%p
  %img{:src => "https://docs.google.com/spreadsheet/oimg?key=0Av5gzni8Q3LXdHY4M1JEUnRvRWFfbmFYdmd0ZzRwYlE&oid=6&zx=2k0rux9x2v1s"}/
%p
.page-header
  %h4
    %span
    However, Local Listings capture seven of the first ten (7/10) organic search results.
    %small
      Due to the "7 pack" of local listings that rank either first or just after 3 Web Results.
%p
  %img{:src => "https://docs.google.com/spreadsheet/oimg?key=0Av5gzni8Q3LXdHY4M1JEUnRvRWFfbmFYdmd0ZzRwYlE&oid=4&zx=4tnnha7g0z7t"}
%p
.page-header
  %h4
    %span
    National franchises capture the first Web Result 44% of the time, while local businesses only rank first 15% of the time.
    %small
      This speaks to the fact that capturing the first Web Result is a more difficult task, often requiring a large investment. The "Other" category is comprised primarily of content websites (e.g., AOL, About.com, and others).
%p
  %img{:src => "https://docs.google.com/spreadsheet/oimg?key=0Av5gzni8Q3LXdHY4M1JEUnRvRWFfbmFYdmd0ZzRwYlE&oid=7&zx=scr73rggtwni"}
%p
.page-header
  %h4
    %span
    On the other hand, local businesses dominate the Local Listings, capturing 6/7 listings.
    %small
      Physical location is a dominant search signal in Local Listings, allowing Local Businesses to fare extremely well.
%p
  %img{:src => "https://docs.google.com/spreadsheet/oimg?key=0Av5gzni8Q3LXdHY4M1JEUnRvRWFfbmFYdmd0ZzRwYlE&oid=8&zx=bujy74mo69sm"}
%p
.page-header
  %h4
    %span
    Local businesses capture 40% of the Web Results on the first page
    %small
      with Yelp coming in second place at about 22%.
%p
  %img{:src => "https://docs.google.com/spreadsheet/oimg?key=0Av5gzni8Q3LXdHY4M1JEUnRvRWFfbmFYdmd0ZzRwYlE&oid=9&zx=cdw7exbajhcx"}
%p
.page-header
  %h4
    %span
    The #1 Local Listing often has only a few reviews. In one random sample of 12 keywords we found 10 #1 listings with three or fewer reviews!
    %small
      Local Listings in Google are the low hanging fruit of the search world. They are easy to set up and maintain, and offer a good chance of ranking very highly in the business' zip code.
%p
  %img{:src => "https://docs.google.com/spreadsheet/oimg?key=0Av5gzni8Q3LXdHY4M1JEUnRvRWFfbmFYdmd0ZzRwYlE&oid=10&zx=ej4semfaj03a"}
%p
.page-header
  %h4
    %span
    Franchises fare much better in the Web Results with at least one Web Result on 75% of search results pages vs. at least one Local Listing on only 56% of pages.
    %small
      The difference is probably due to a combination of factors but one factor may be that franchises typically serve a larger geographic area.
%p
  %img{:src => "https://docs.google.com/spreadsheet/oimg?key=0Av5gzni8Q3LXdHY4M1JEUnRvRWFfbmFYdmd0ZzRwYlE&oid=11&zx=z005b9kmx1ki"}
%p
.page-header
  %h4
    %span
    Search results driven by customer reviews - i.e., the results are ranked primarily based on customer reviews - outnumber Web Results 2 to 1.
    %small
      Quantity and quality of customer reviews are arguably the most important local search signal. Review-based results include Local Listings, Yelp, and other directory listings (e.g., Yellowpages.com).
%p
  %img{:src => "https://docs.google.com/spreadsheet/oimg?key=0Av5gzni8Q3LXdHY4M1JEUnRvRWFfbmFYdmd0ZzRwYlE&oid=12&zx=f6rr5y75t58j"}
%p
.page-header
  %h4
    %span
    Yelp showed up in about 75% of search results with an average of 2 listings per page.
    %small Yelp had as many as four listings per page.
%p
  =image_tag "YelpResult.png"
%br
%p
.page-header
  %h4
    %span
    Yelp listings are highly relevant, focusing on the result for a local business. The Yelp listings also stand out from other listings via their use of rich snippets to display review stars and information.
    %small
      Even Google says that "rich snippets help users recognize when your site is relevant to their search, and may result in more clicks to your pages." The lack of adoption of rich snippets by website owners is surprisingly low. More on this in another research bulletin.  
%p
  =image_tag "YelpRichSnippets.png"
/ AddThis Smart Layers BEGIN
/ Go to http://www.addthis.com/get/smart-layers to customize
%script{:src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-511ebf772198bc56", :type => "text/javascript"}
:javascript
  addthis.layers({
    'theme' : 'gray',
    'share' : {
      'position' : 'right',
      'numPreferredServices' : 5
    },  
    'whatsnext' : {}  
  });
/ AddThis Smart Layers END

