%h3.text-center Resources for Web Designers
#container.js-masonry{'data-masonry-options' => '{ "columnWidth": 0, "itemSelector": ".item" }'}
  .well.well-small.span3.item{:style=>"width:235px"}
    %p.text-center
      This is a sample resource.
    %h1.text-center
      XX
    %p.text-center
      Here is some text about it.
    %p.muted.text-center
      %small
        Source: #{link_to 'Nowhere', "#"}
