%p
  %font{:face => "Helvetica"} Hi,
  

%p
  %font{:face => "Helvetica"} Email address: #{@email}
  
%p
  %font{:face => "Helvetica"}  Message: #{@content}
%p
  %br/
  %font{:face => "Helvetica"} Thanks,

