%p
  %font{:face => "Helvetica"} Hi #{@review.profile.user.first_name},

%p
  %font{:face => "Helvetica"} You just received a new review.

%p
  %font{:face => "Helvetica"} To read it visit your <a href="#{@profile_path}" style="color:blue">profile</a>.

%p
  %font{:face => "Helvetica"} Thanks,

%p
  %font{:face => "Helvetica"} The 3Questions Team