%p
  Hi #{@user.first_name},
%p
  Welcome to 3Questions.

%p
  All you need to do now is send invitations to your customers and we'll do the rest.

%p
  You can send an invitation via email or text - you might want to try both to see what works best.

%p
  .fancy_button
    = link_to "Send an Invite", new_invitation_url

%p
  %br/
  Thanks for signing up!

%p  
  Frank Anderson
%p
  Founder, 3Questions

%p  
  P.S., Let your customers know you'll be sending them an invite and would appreciate their feedback. You'll get a lot more responses.

