@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

body {
   font-family: 'Lato', sans-serif;

   @media(min-width: 979px) {
      padding-top: 50px;
   }
}

/* Bourbon */
@import "bourbon";

/* Base vars */
@import "base";

/* Objects */
@import "objects/buttons";
@import "objects/hero";
@import "objects/navbar";


.homepage-container {

  .unit-wrapper {
    padding: em(80) 0;
  }

}

